## CHAPTER 02 데이터: 타입, 값, 변수, 이름

### 2-1 타입
- bool, int, float, complex, str, list, tuple,
- bytearray, set, frozenset, dict

In [3]:
a = 10
type(a)

int

#### 가변성
- 데이터 값(value)의 가변(mutble)과 불변(immutable)
    - 가변 객체는 값 변경 가능, 타입의 변경은 불가능
    
    => 파이썬은 강타입(strong type) 언어

### 2-2 값
- 파이썬에서 데이터 값 명시하는 2가지 방법
    - literal (리터럴)
    - variable (변수)

### 2-3 변수
- 변수 이름의 규칙
    - 소문자, 대문자, 숫자, 언더바만 사용 가능
    - 대소 문자 구분
    - 문자나 언더바로 시작(숫자X)
        - 언더바로 시작하는 이름은 특별하게 취급
    - 파이선 예약어는 사용할 수 없음

### 2-4 이름
- 할당: 데이터를 포함하는 객체에 이름을 붙임(값을 복사하지 않음)
    - 두 개 이상의 변수 이름에 동시에 값을 지정할 수 있음
- 재할당: 이름에 지정된 값을 변경하면 이름이 새 객체를 가리킴
    - 이름은 객체를 가리키기 때문

In [1]:
# 여러 이름 할당
two = deux = zwei = 2

In [2]:
two

2

In [3]:
deux

2

In [4]:
zwei

2

### * 꿀팁
`print()`

In [9]:
print('orange', 'apple', 'tomato') # default: 띄어쓰기,
print("the next line")             #          줄바꾸기가 들어감

orange apple tomato

In [10]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#1.
print(orange + apple + tomato)                  # + 연결 가능하지만 원소들간의 공백 사라진다
print(orange, apple, tomato, sep=' ', end='\n') # default
print(orange, apple, tomato, sep='_', end='\n\n') 
print('EOL')

orangeappletomato
orange apple tomato
orange_apple_tomato

EOL

In [11]:
# 라인이 짧을 때 => ;
orange = 'orange'; apple = 'apple'; tomato = 'tomato'

In [12]:
num = 5; print(num)

5

### * input()
- console에서 사용자에게 값을 입력 받는 함수
- 입출력 관련된
- 입력 받는 값의 타입은 문자열(str)
- 입력 받은 값을 변수에 담아서 사용한다.

In [1]:
input("What's your name?")

What's your name? Kim

'Kim'

In [2]:
#1. 
name = input("What's your name?")

What's your name? Lee

In [3]:
name

'Lee'

In [4]:
#2.
print("What's your name?")
name = input()

What's your name?

 Wang

In [5]:
print(name)

Wang

input을 str이 아닌 다른 타입으로 사용하고 싶을 때에는 형변환을 미리 해준다.

In [7]:
age = input("How old are you?")

How old are you? 19

In [8]:
type(age)

str

In [9]:
age = int(input("How old are you?"))

How old are you? 20

In [12]:
print('당신이 태어난 해는', 2022 - age + 1, '입니다.') # 연산 가능해짐

당신이 태어난 해는 2003 입니다.

### * printing

In [14]:
print(f'당신이 태언난 해는 {age}년입니다!') # print(f'{<variable>})

당신이 태언난 해는 20년입니다!

#### Quiz 1
- 택배 정보를 입력 받고 무게에 따른 값 산정하기
    - 수취인 성명:
    - 수취인 주소:
    - 배송비: 3000원
    - 물건 비용: <계산 값>원
    - 총 합계: <계산된 값>원
- 물건 비용은 무게(g) * 5
- 입력 값 = 이름, 주소, 무게

In [15]:
name = input("이름을 입력하세요 : ")
address = input("주소를 입력하세요 : ")
weight = int(input("무게를 입력하세요 : "))

이름을 입력하세요 :  이가은
주소를 입력하세요 :  동대문구 이문동
무게를 입력하세요 :  7000

In [20]:
shipping_fee = 3000
product_price = weight * 5
total_price = product_price + shipping_fee
# 포맷팅으로 넣을 값 미리 계산해서 변수 생성하는 것이 좋음

print(f'수취인 성명: {name}')
print(f'수취인 주소: {address}')
print(f'배송비: {shipping_fee}')
print(f'물건비용: {product_price}원')
print(f'총 합계: {total_price}원')

수취인 성명: 이가은
수취인 주소: 동대문구 이문동
배송비: 3000
물건비용: 35000원
총 합계: 38000원

## Ch03. Numbers

### 3-1 boolean
- True / False
- False인 값
- boolean 값을 직접 사용 or 어떤 값에서 타입의 진위 확인을 위해 사용
- if문 (조건식): "만약 어떤 값이 True면, ..."

In [2]:
# bool(): 모든 파이썬 데이터 타입을 불리언으로 변환
bool(0)

False

In [5]:
bool('')

False

In [6]:
bool(None)

False

### 3-2 Integer (1)
- 분수나 소수가 아닌 정수
    - 정수 앞에 부호 올 수 있음
    - 10진수 외 다른 진수로 숫자 표현 가능

#### 리터럴 정수
- 음수는 '-'기호를 붙인다: i.e., -50
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다. i.e., 09
    - 0bxx(10진수가 아닌 수)
- 숫자 사이에 쉼표를 쓰면 오류: 100,000 (x) -> 100_000
    - 대신, 언더바로 구분 
- 첫 번째 숫자 이후 모든 위치에 언더바 사용 가능
    - 숫자 사이의 언더바는 인식하지 않고 숫자만 출력

In [7]:
a = 09

SyntaxError: invalid token (<ipython-input-7-3427453aa51c>, line 1)

In [9]:
a = -50
b = 49
a + b

-1

### 3-2 Integer (2)
#### 연산자|operator
- +, -, *, / (부동소수점 나누기, 0으로 나누면 예외 발생), 
- // (정수 나누기(소수점 이하 버림)), % (나머지), ** (차수)

#### 정수와 변수
- 정수 값이 할당된 변수와 리터럴 정수 혼합해서 사용 가능

- 피연산자|operand: 1, 2,...
- 수식|expression

In [2]:
x = 9
y = 4

# 연산
x + y
x - y
x * y
x / y ###주의
x ** y # 거듭제곱|exponential

6561

나눗셈 = 몫, 나머지

In [3]:
x / y # 결과물(몫, 나머지)
x // y # 몫
x % y # 나머지

1

In [4]:
divmod(x, y) # (몫, 나머지) 튜플로 반환

(2, 1)

In [17]:
# division by zero 항시 유의
    # 숫자 사이의 공백은 무시됨

In [18]:
1 + 9                 + 10

20

#### 복합 대입 연산자|compound assignment operator

In [19]:
x = 5
x - 3
print(x)
# 출력: 5 -> x를 뺀 값을 대입하지 않았기 때문

5

In [20]:
x = x - 3
print(x)

#1. x - 3 계산
#2. temp = x - 3 (임시변수에 담는다)
#3. x = temp

2

In [21]:
x -= 3
print(x) # 2 - 3

-1

In [22]:
x += 3
x -= 3
x *= 3
x /= 3

# 주로 +, - 많이 씀
x += 1

#### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 면적 = pi * r제곱

In [23]:
r = int(input("반지름을 입력하세요: "))

반지름을 입력하세요:  2

In [35]:
from math import pi

area = pi * (r ** 2)
print(f'원의 면적은 약 {area:.2f}입니다.')

원의 면적은 약 12.57입니다.

#### Quiz 2. 
- 숫자를 입력 받고 3의 배수인지 확인하기
- 숫자를 입력 받고 홀수인지 확인하기

In [42]:
num = int(input("숫자를 입력하세요"))

숫자를 입력하세요 5

In [43]:
if num % 3 == 0:
    print(f'{num}은/는 3의 배수입니다.')
else: 
    print(f'{num}은/는 3의 배수가 아닙니다.')

5은/는 3의 배수가 아닙니다.

In [38]:
if num % 2 == 0:
    print(f'{num}은/는 짝수입니다.')
else: 
    print(f'{num}은/는 홀수입니다.')

4은/는 짝수입니다.

### 3-2 Integer (3)
#### 연산 순서
- 괄호() > 곱셈 > 덧셈
- 괄호는 수식 계산 명확하게 함

In [5]:
# 지수 계산 3가지
-5 ** 2

-25

In [6]:
-(5 ** 2)

-25

In [7]:
(-5) ** 2

25

### 3-2 Integer (4)
#### 진수
- default: 10진수
- 파이썬은 2, 8, 16진수인 리터럴 정수 표현 가능
    - 2진수(binary): 0b / 0B
    - 8진수(octal) : 0o / 0O
    - 16진수(hex)  : 0x / 0X
- 왜 다른 진수 사용?
    - 비트 단위(bit-level)연산에서 유용하게 사용

### 3-2 Integer (5)
#### 타입 변환

In [4]:
# int -> float
float(a)

10.0

In [5]:
#int -> str
str(a)

'10'

In [6]:
# int -> bool
bool(10)

True

In [7]:
# float -> int: 10.6 => (부동소수점에서는) 정수형 변환 시 버린다.
int(10.9)

10

In [1]:
x = 4.6 
y = 7.9

print(int(x + y)) # 11.xx
print(int(x) + int(y)) # 4+7

12
11

In [8]:
# str -> int
p = '88.3'

# int(p)
    # string에서 숫자로 바꿀 때는 int 타입이 맞아야 함
float(p)

88

- boolean: 파이썬에서 가장 간단한 데이터 타입 (True/False)
    - 불리언 타입을 정수로 변환하면 각각 1과 0 반환
    - bool() 사용하면 정수에 해당하는 불리언 값 반환

In [9]:
int(True)

1

In [10]:
int(False)

0

In [11]:
bool(1)

True

In [12]:
bool(0)

False

In [13]:
bool(2)

True

- 진수 변환

In [14]:
int('10', 2) # 2진수(binary)

2

In [15]:
int('10', 8) # 8진수(octal)

8

In [16]:
int('10', 16) # 16진수(hexadecimal)

16

### 3-3 부동소수점 숫자
- floating point(부동소수점) 숫자
- 연산자와 divmod() 함수 사용 가능 -> 정수와 비슷하게 처리
- float(): 부동소수점 숫자로 타입 변환

#### 지수 표현
- 예: '1.0e-4'
- e의 앞부분을 소수, 정수 둘다 됨
- 뒷부분은 정수여야 함
- 뒷부분이 음수면 소수점 자릿수를 의미함
- e, E

In [47]:
1.0e-4

0.0001

In [48]:
# 0.0004005 => 지수로 표현하기

In [61]:
4.005e-4

0.0004005

In [63]:
4005e-7

0.0004005

In [17]:
# Why??
4005e-8

4.005e-05

### 3-4 수학 함수
- 파이썬은 제곱근, 코사인 등의 수학 함수 지원

## Ch04. if 조건문

### 4-1 주석 달기 : `#`
- `#` hash, sharp, ..
- `#` 시작 지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식
- """ """ : 긴 주석
- 문자열 안에 있는 sharp는 부호로 인식한다
- 이유? 코드에 대한 설명은 최대한 하지 않는다. 
  의도를 나타내기 위해, 오류가 있다거나, 개발자와 의미 의외의 전달 사항이 있을 때.

### 4-2 라인 유지하기 : `\`
- 들여쓰기 (default space 4개, 탭을 이용해서)
- 논리 구조를 나타내기 때문에 굉장히 중요함.
- 한 라인에 80자 정도 (백슬래시로 라인을 끊어준다 (\))

- 표현식 중간에 백슬래시

In [12]:
a = 3 # 주석입니다
"""
주석1
주석2
주석3
"""
print(a)

3

In [13]:
print('hey, there #')

hey, there #

In [14]:
sum = 1 + \
2
print(sum)

3

### 4-3 비교하기: if, elif, else
- if

`if <조건식>:
    <실행할 코드>`

In [15]:
if 3 != 1:
    print("두 수는 같지 않다")

두 수는 같지 않다

- if-else

`if <조건식>:
    <실행할 코드1>
else:
    <실행할 코드2>`

In [16]:
if 3 != 1:
    print("두 수는 같지 않다")
else: 
    print("두 수가 같다")

두 수는 같지 않다

- if-elif-else

`if <조건식>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드3>
...
else:
    <실행할 코드2>
    `

In [17]:
a = 4
if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else: 
    print("3보다 크다")

3보다 크다

In [18]:
a = 4
if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
if a > 4: 
    print("3보다 크다")

#### 비교연산자
- x < y
- x > y
- x >= y
- x <= y
- x == y (값이)
- x != y
- x is y (값, 메모리주소)
- x is not y

#### Quiz
- 1. 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False를 반환하기
- 2. 시험 점수를 입력 받고, 95점 이상 A+, 85점이상 B+, 나머지 F로 출력

In [21]:
score = int(input("시험 점수를 입력하세요: "))

over_eighty = False
if score >= 80:
    over_eighty = True
    
over_eighty

시험 점수를 입력하세요:  90

True

In [22]:
if score >= 95:
    print("A+")
elif score >= 85:
    print("B+")
else:
    print("F")

B+

### 4-5 여러 개 비교하기: in
- in(membership operator): 한 변수에 여러 값 비교할 때

In [23]:
vowels = 'aeiou'
letter = 'o'
letter in vowels

True

In [24]:
if letter in vowels:
    print(letter, 'is a vowel')

o is a vowel